body {
	font-family: 'Alef', sans-serif;
}

button {
	height: 54px;
    width: 130px;
    font-size: 24px;
    font-family: alef;
    border: none;
    color: white;
    border-radius: 4px;
    box-shadow: 1px 6px 12px rgba(0,0,0,0.25);
    background-color: #9C27B0;
}

button:active {
	box-shadow: none;
	background-color:#691777;
}

button:hover {
	background-color: #8c219e;
}

.wraper{
	height: 100%;
	display: flex;

}

.loader-cont {
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	display: flex;
	justify-content: space-around;
	font-style: italic;
}

.content {
	margin: auto;
	max-width: 200px;
	text-align: center;
}

#answer {
	font-size: 36px;
}

.loader {
	display: none;
}

.show {
	display: block;
}

.no {
    border: 6px solid;
    color: #2f2f2f;
    font-size: 90px;
    border-radius: 101px;
    height: 174px;
    width: 174px;
    line-height: 174px;
    text-align: center;
    vertical-align: middle;
    margin: 16px auto 32px auto;
}