body,html {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #404040;
	margin:0;
	padding:0;
	width: 100%;
	background-color: #f9f9f9;
	/* overflow: hidden; */
	/* left: 0; */
}

a{
	text-decoration: none;
	color: inherit;
}

#me-text a, 
.title-holder a {
	text-decoration: underline;
	color: #ce0baa;
}

ul{
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	margin:auto;
	line-height: 100%;
	text-align: center;
}

h1, h2, h3 {
	z-index: 999;
}

h4,h5,h6{
	line-height: normal;
	text-align: left;
	display: inline-block;
}

h1 {
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 32px;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 1em;
	font-weight: 300;
	/* padding: 0 7rem; */
}

h4 {
	font-size: 1.5em;
	font-weight: 700;
	display: block;
	/* padding-left: 32px; */
	padding-right: 32px;
}

h5 {
	font-size: 1.5em;
	font-weight: 400;
}

h6 {
	font-size: 1em;
	font-weight: 300;
	/* padding: 32px; */
}

p {
	margin: 0;
}

.header {
	position: fixed;
	width: 100%;
	height: 2em;
	padding: 16px 0;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: grey;
}

/*==============*/
/*===projects===*/
/*==============*/

.projects-container {
	/* width: 100%; */
	height: auto;
	display: flex;
	flex-wrap: wrap;
	/* flex: 1 1; */
	padding: 1em;
	/* border-radius: 24px; */
	/* border: 1px solid; */
	margin: auto;
	justify-content: space-between;
}

.project {
	/* min-width: 431px; */
	height: auto;
	display: flex;
	margin: 1rem 32px;
	flex: 1 300px;
}

.project:hover {
	/*border-bottom: 2px solid #4e4e4e;*/
	box-shadow: 0px -2px 0px #ce0baa inset;
}

.project * {
	cursor: pointer;
	width: 100%;
}

.project h5,h6,p {
	display: block;
	/* padding-left: 32px; */
	/*font-weight: 400;*/
}

.project h5,h6 {
	display: inline;
}

.project p {
	width: 90%;
}


.project-img{
	width: 100%;
	height: 240px;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.project-text{
	margin-top: 16px;
	margin-bottom: 16px;
	/* width: 100%; */
}

#project-img-1 {
	background-image: url('../assets/project-banner-gg-2.png');
}

#project-img-2 {
	background-image: url('../assets/project-banner-predict.jpg');
}

#project-img-3 {
	background-image: url('../assets/project-banner-playdog.png');
}

#project-img-4 {
	background-image: url('../assets/project-banner-circuito.png');
}

#project-img-5 {
	background-image: url('../assets/notyet2.png');
}

#project-img-6 {
	background-image: url('../assets/tips/tip_3.png');
}

.me-img {
	border-radius: 100%;
	/* max-height: 14rem !important; */
	max-width: 150px;
}

/*==============*/
/*====About=====*/
/*==============*/

.about-text {

}

.about-img-container {
	width: 30%;
	height: auto;
}

.about-img{
	background-image: url('../assets/about-me.png');
	width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;

}

/*==============*/
/*=====Page=====*/
/*==============*/

.page, .long-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* padding: 3em 0em 1em; */
	/* margin: auto; */
	/* max-width: 960px; */
	/*border:1px solid red;*/
}

#page-1 {
	/* background-color: #f9f9f9; */
	/* display: inline-block; */
	padding-top: 0;
	/* justify-content: space-around; */
	/* vertical-align: middle; */
}

#page-4 h2 {
	cursor: pointer;
}

.long-page {
	height: auto;
}

.page-title {
	width: auto;
	display: inline-block;
	padding: 1rem 0;
	margin: 32px;
}

.page-header {
	height: 14em;
	position: absolute;
	border-bottom: 1px solid rgba(158, 158, 158, 0.2);
	width: 100%;
}

.main-img-container {
	width: 25%;
	min-height: 300px;
}

.main-img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /*padding-top: 66.64%;  (img-height / img-width * container-width) */
                /* (853 / 1280 * 100) */
}

#main-img-1 {
	background-image: url('../assets/gg_large.png');
}

.video-container {
	display: inline-block;
	margin: 2em auto;

}

.video-title {
	display: block;
	width: 100% !important;
}

.title-holder {
	position: relative;
	display:flex;
	/* margin: auto; */
	flex-direction: column;
	align-content: space-between;
}

.btn-container {
	margin: 32px 16px;
	text-align:center;
	height: auto;
}

.flat-btn {
	/* width: 100%; */
	font-size: 2em;
	font-weight: 500;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	background-color: transparent;
	border: 4px solid #ce0baa;
	border-radius: 4px;
	padding: 16px 32px;
	/* margin: 16px auto; */
	color: #ce0baa;
	transition: color 0.1s, background-color 0.1s;
}

.small-btn {
	font-size: 1em;
	/* margin: 1em auto; */
	border: none;
	/* padding: 0; */
}

.flat-btn:hover {
	background-color: rgba(206, 11, 170, 1);
	color:white;
}

.fa {
	padding-right: 0.5em;
}

/*=====================*/
/*=== flying button ===*/
/*=====================*/
/*
.flying-btn {
	padding: auto;
	display: flex;
	position: fixed;
	right: 2em;
	bottom: 2em;
	height: 5em;
	width: 5em;
	border-radius: 2.5em;
	background-color: #4e4e4e;
	color: white;
	justify-content: space-around;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 99;
}

.flying-inner {
	font-weight: 100;
	line-height: 5em;

}
*/

/*=====================*/
/*== haburger button ==*/
/*=====================*/

#hamburger {
	padding-top:0; 
	position: fixed;
	top:0;
	left: 1em;
	border:none;
	font-size: 2em;
	background-color: transparent;
	color: #4e4e4e;
	z-index: 3;

}

/*=====================*/
/*======== tips =======*/
/*=====================*/

.tips-sticky {
	/* margin-left: -32px !important; */
	/* margin-right: -32px !important; */
	/* padding: 32px; */
}
.tip-container {
	margin-bottom: 72px;
	margin-left: 16px;
	margin-right: 16px;
	/* width: 100%; */
	max-width: 407px;
	display: flex;
	flex-direction: column;
	flex: 1 300px;
	min-width: 400p;
}
.tip-img-container {
	/* min-width: 400px; */
	/* position: absolute; */
	/* left: 0; */
	/* min-width: 400px; */
	/* height: 100px; */
}

.tip-img {
	width: 100%;
}

.tip-content h3 {
	display: inline-block;
	margin-bottom: 32px;
}

.tip-content {
	margin-top: 16px;
	margin-bottom: 16px;
}


/*=====================*/
/*===== SIDE MENU =====*/
/*=====================*/


.side-menu {
	position: fixed;
	left: -100vw;
	height: 100vh;
	width: 100vw;
	/*background-color: rgba(0,0,0,0.4);*/
	z-index: 8999;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.menu-list {
	display: inline-block;
	position: absolute;
	left: -100vw;
	width: auto;
	height: 100%;
	background-color: white;
	/*color:white;*/
	margin: 0;
	padding: 2em;
	transition: left 0.2s ease;
	z-index: 9999;
}

.menu-background {
	position: absolute;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.4);
	z-index: -1;

}

.roles-list {
	list-style: none;
	padding: 0;
	margin: 32px;
}

.roles-list li{
	font-size: 0.75em;
	line-height: 1.5em;
	width: auto;
	padding: 0.25em 1em;
	background-color: #4e4e4e;
	color: white;
	border-radius: 1.5em; 
	display: inline-block;
	margin: 0.25em auto;
}

.page-section {
	margin: 0;
	display: flex;
	height: auto;
	width: 100%;
	flex-wrap: wrap;
}

.about-me {justify-content: spa;}

iframe {
	width: 100%;
	max-width: 640px;
}

.page-section h5{
	display: inline-block;
	margin: auto 0;
}

.section-images {
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	margin: 1em auto;
	width: 100%;
}

.section-images::after {
  content: '';
  flex-grow: 1000000000;
}

.about-me .section-images {
	width: auto;
	margin: 0;
}

.gifs-container {
	display: flex;
	width: 100%;
}

.section-img {
	width: 100%;
	/* max-width: 300px; */
	/* margin: auto; */
	/* display:inline-block; */
	/* max-height: 32rem; */
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: 3px 6px 10px rgba(0,0,0,0.3), 0 3px 6px rgba(0,0,0,0.23);
}

.no-shadow {
	box-shadow: none;
}

.gg-img {
	/* height: 21em; */
}

.section-text {
	width: 38%;
	min-width: 15em;
	/* flex: 0 1 350px; */
	margin: 48px;
}

#me-text {
	width: auto;
	/* max-width: 45%; */
}

.section-img-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
	margin-left: 16px;
	margin-right: 16px;
	flex: 1 258px;
	/* max-width: 330px; */
	/* width: 100%; */
	/* max-width: 50%; */
}

.section-img-container p {
	margin-top: 32px;
	/* width: 100%; */
}
.page-section ul {
	max-width: 30em;
	padding: 0;
}

.page-section li {
	margin: 1em auto;
}


#section-img-1{
	background-image: url('../assets/gg_1.png');
}

#section-img-2{
	background-image: url('../assets/gg_2.png');
}

#section-img-3{
	background-image: url('../assets/gg_3.png');
}

#section-img-4{
	background-image: url('../assets/gg_small_4.png');
}


.ltr {
	flex-direction: row-reverse;
	text-align: right;
}

.ltr .small-img-container{
	margin-left: 1em;
	margin-right: 0;
}

.small-img-container {
	/*height: 300px; 
    min-width: 138px;
    min-height: 300px;
    margin-right: 1em;
    /* min-width: 250px; */

}

.small-img {
	display:inline-block;
	height: 100%;
	width: 100%;
	min-width: 120px;
	min-height:150px;
	background-size: contain;
	background-repeat: no-repeat;
}

#small-1{
	background-image: url('../assets/gg_small_1.png');
}

#small-2{
	background-image: url('../assets/gg_small_2.png');
}

#small-3{
	background-image: url('../assets/gg_small_3.png');
}

#small-4{
	background-image: url('../assets/gg_small_4.png');
}

.title-link-container {
	position: absolute;
    top: 0.75em;
    right: 1em;
}

.title-link {
	font-size: 1em;

}

.google-play{
	display: inline-block;
	margin: auto;
	height: 54px;
	width: auto;
}

.contant-link {
	margin-top: 16px;
}

/*=========================*/
/*========sticky bar=======*/
/*=========================*/

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: #f9f9f9;
  margin: 0px;
  padding: 16px 48px;
}


/*==============*/
/*=== Mobile ===*/
/*==============*/

@media only screen and (max-device-width: 480px)  {

    body {
        font-size: 3em;
        /* max-width: none !important; */
        /* width: 100% !important; */
        margin: 0;
        /* width: 100%; */
        /* left: 0; */
    }

   /* h4, h5 {
		padding-left: 144px;
	}*/
	.project {
		width: 100%;
		margin: 0 auto 6rem auto;
		flex: none;
		border-radius: 32px;
		/* border: 1px solid; */
		overflow: hidden;
		box-shadow: 1px 3px 19px 0px rgba(0,0,0,0.24);
	}

	.flat-btn {
		/* border: 2em; */
		/* text-decoration: initial; */
	}

	.project-img {
		height: 700px;
		width: 100%;
	}

	.project-text {
		 padding-left: 32px; 
		 width: auto; 
	}

    .page, .long-page {
    	/* margin-left: 0.5em; */
    	/* margin-left: 0.5em; */
    	/* margin: 0; */
    	/* width: 100%; */
    	/* padding: 32px; */
    }

    .main-img-container {
		width: 100%;
		min-height: 1000px;
	}

	.page-section {
		flex-wrap: wrap;
	}

	.section-img {
		/* max-height: 23em; */
		width: 100%;
		/* height: auto; */
		margin: 16px 0;
	}

	.section-img-container {
		margin: 1em 32px;
		width: 100%;
		flex: 1 428px;
		max-width:none;
	}

	.section-text {
		width: 100%;
	}

	.left-container {
		width: 100%;
	}

	.small-img-container {
		width: 100%;
	}

	.tip-container {
		max-width: 100%;
		margin: 0;
		flex: none;
		margin-bottom: 64px;
	}
	.tip-content {
		margin: 32px;
	}
}

footer {
	height: 1em;
	text-align: center;
    margin: 0;
    padding: 1em;

}

























